html, body{
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
canvas{
    position: absolute;
}
#reset {
    position: relative;
    right: 1vw;
    top: 2vh;
}

a {
    position:relative;
    height: 100%;
    width:100%;
}

a img {
    position: fixed;
    top: 20%;
    left: 40%;
    
    
}