html, body{
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
canvas{
    position: absolute;
}
#reset {
    position: absolute; 
    top:2vh; 
    right:10px;
    
}
#pause {
    position: absolute; 
    top:2vh; 
    right:90px;
}
#resume {
    position: absolute; 
    top:2vh; 
    right:170px;
}

a {
    position:relative;
    height: 100%;
    width:100%;
}

#centerImage {
    position: fixed;
    top: 15%;
    left: 40%;
}

#instructions {
    position: fixed;
    top: 20%;
    left: 5%; 
}
#inst1 {
    position: fixed;
    top: 35%;
    left: 3%;
}


#controls {
    position: fixed;
    top: 20%;
    right: 5%;
}
#cont1 {
    position: fixed;
    top: 32%;
    right: 10%;
}